@model SchoolSystem.ViewModels.VerifyOTPViewModel

@{
    ViewData["Title"] = "Verify OTP";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Verify OTP</h2>
        <form asp-action="VerifyOTP" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" readonly /> <!-- Assuming you want to display the email -->
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="OTPCode" class="form-label"></label> <!-- Ensure this matches your model -->
                <input asp-for="OTPCode" class="form-control" />
                <span asp-validation-for="OTPCode" class="text-danger"></span>
            </div>
            <div class="col">
                <input type="submit" value="Verify" class="btn btn-primary w-100 p-2" />
            </div>
            <div class="text-center mt-2">
                <a asp-controller="Home" asp-action="Index" class="text-primary text-decoration-none mt-2">Go Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
