@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> signInManager

@if (signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user fa-fw"></i> <!-- User Icon -->
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </li>
            <!-- Optional: Add more menu items for signed-in users if needed -->
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
